<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= config.title %></title>
  <link rel="icon" href="favicon.ico"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%- css('css/ionicons.min.css') %>
  <%- css('css/milligram.min.css') %>
  <%- css('css/comfortaa.css') %>
  <%- css('css/source-sans-pro.css') %>
  <%- css('css/animate.min.css') %>
  <%- css('css/nprogress.css') %>
  <%- css('css/loaders.min.css') %>
  <%- css('css/atom-one-light.css') %>
  <%- css('css/app.css') %>
</head>
<body>
  <div id="app"></div>
  <script type="text/javascript">
    window.root = <%- JSON.stringify(config.root) %>
  </script>
  <%- js('js/manifest.js') %>
  <%- js('js/vendor.js') %>
  <%- js('js/app.js') %>
</body>
</html>
